/* global styles */
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* general site styles */
.list-mainMenu,
.list-social,
.filter-list,
.productCatalog-list {
  list-style: none;
}

.sectionHeaders {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.btn {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.wrap-pageContent {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;  
}

/* comon styles for pageHeader and pageFooter*/
.pageHeader,
.pageFooter {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.header-topLine,
.footer-bottomLine {
  background-color: #293449;
}

.header-logo,
.footer-logo {
  background-color: #ee3643;
}

.header-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.siteNavigation,
.footer-wrapperNav {
  background-color: #32425c;
}

/* styles for pageHeader */
.pageHeader {
  font-size: 17px;
}

.pageIndex .pageHeader {
  margin-bottom: 59px;
}

.pageCatalog .pageHeader {
  margin-bottom: 23px;
}

.header-topLine {
  line-height: 18px;
}

.header-topLine a {
  color: #ffffff;
}

.header-topLine .wrap-pageContent {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 220px;
  height: 42px;

  text-align: center;
}

.pageHeader .searchBox {
  /* width: 270px;
  height: 42px; */
}

.pageHeader .bookmarks,
.pageHeader .basket,
.pageHeader .makeAnOrder {
  /* width: 150px;
  height: 42px; */

  text-align: center;
}

.pageHeader .siteSearch:hover,
.pageHeader .bookmarks:hover,
.pageHeader .bookmarks:focus,
.pageHeader .basket:hover,
.pageHeader .basket:focus {
  background-color: #212a3a;
}

.pageHeader .siteSearch {
  color: #ffffff;
  
  background-color: transparent;
  
  border: none;
}

.pageHeader .siteSearch:focus {
  color: #000000;

  background-color: #ffffff;
}

.pageHeader .siteSearch::placeholder {
  color: #ffffff;
}

.pageHeader .makeAnOrder {
  background-color: #63a63e;
}

.pageHeader .makeAnOrder:hover,
.pageHeader .makeAnOrder:focus {
  background-color: #5fbb2d;
}

.pageHeader .makeAnOrder:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.pageHeader .bookmarks:active,
.pageHeader .basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-bottomLine {
  background-color: #f3f7f9;
}

.pageHeader .userNavigation {
  width: 300px;
}

.userNavigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.loginInterface a:hover,
.loginInterface a:focus {
  color: #ee3643;
}

.loginInterface a:active {
  color: rgba(0, 0, 0, 0.3);
}

.interfaceInside a:active {
  opacity: 0.3;
}

.list-menuUser {
  list-style: none;
}

.item-menuUser {
  display: inline-block;
}

.list-menuUser a {
  font-size: 16px;
  line-height: 19px;
  color: #32425c;

  background-color: transparent;
}

.list-menuUser a:hover,
.list-menuUser a:focus {
  color: #ee3643;
}

.list-menuUser a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pageHeader .subTitle {
  width: 300px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.pageHeader .wrap-contacts {
  width: 300px;
}

.pageHeader .phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.pageHeader .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-middleLine {
  display: flex;
  justify-content: space-between;

  color: #000000;
}

.list-mainMenu {
}

.list-mainMenu a {
  line-height: 17px;
  color: #ffffff;
}

.list-mainMenu a:hover,
.list-mainMenu a:focus {
  background-color: #293449;
}

.list-mainMenu a:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #1d2739;
}

/* styles for pagefooter */
.pageIndex .pageFooter {
  margin-top: 86px;
}

.footer-wrapperNav {
  font-size: 18px;
  color: #f3f7f9;
}

.footer-topLine {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 220px;
  height: 63px;

  text-align: center;
}

.footer-list-menu {
  width: 550px;

  list-style: none;
}

.footer-list-menu a {
  color: #f1f5f7;
}

.footer-list-menu a:hover,
.footer-list-menu a:focus,
.footer-list-catalog a:hover,
.footer-list-catalog a:focus {
  text-decoration: underline;
}

.footer-list-menu a:active,
.footer-list-catalog a:active {
  opacity: 0.5;
}

.footer-middleLine {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 380px;
}

.footer-list-catalog {
  width: 540px;

  list-style: none;
}

.footer-list-catalog a {
  color: #ffda96;
}

.footer-bottomLine {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottomLine .wrap-pageContent {
  display: flex;
  justify-content: space-between;
}

.copyright {
  width: 300px;
}

.list-social {
  width: 300px;
}

.list-social a {
  color: #f0f1f2;

  background-color: #212a3a;
}

.list-social a:hover,
.list-social a:focus {
  background-color: #ee3643;
}

.wrap-developer {
  width: 300px;
}

.wrap-developer a {
  color: #ffd180;
}

.wrap-developer a:hover,
.wrap-developer a:focus {
  text-decoration: underline;
}

.wrap-developer a:active {
  color: #ee3643;
}

/* styles for main */
.card-new {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #ff5357;
}

.btn-promo {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-red {
  background-color: #ee3643;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #ca2c37;
}

.btn-red:active {
  color: rgba(255, 255, 255, 0.6);
  
  background-color: #ba2732;
}

.btn-by {
  background-color: #63a63e;
}

.btn-by:hover,
.btn-by:focus {
  background-color: #5fbb2d;
}

.btn-by:active {
  background-color: #518534;
}

.btn-bookmarks {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #ffffff;

  border: 3px solid #63a63e;
}

.btn-bookmarks:hover,
.btn-bookmarks:focus {
  border: 3px solid #32425c;
}

.btn-bookmarks:active {
  border: 3px solid #32425c;

  opacity: 0.3;
}

.promoSection {
  font-family: 'Cuprum', sans-serif;
}

.list-promoProducts {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  
  list-style: none;
}

.item-promoProducts {
  width: 300px;
}

.item-promoProducts-yellow {
  background-color: #ffbf47;
}

.item-promoProducts-blue {
  background-color: #3bbce3;
}

.item-promoProducts-pink {
  background-color: #dc91db;
}

.list-promoProducts h3,
.list-promoServices h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.wrap-promoSliderServices {
  display: flex;
  justify-content: space-between;

  margin-bottom: 53px;
}

.list-promoSlider {
  margin: 0;
  padding: 0;

  color: #ffffff;

  list-style: none;
}

.item-promoSlider {
  width: 620px;

  background-color: #584e44;
}

.list-promoSlider h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.list-promoSlider p {
  font-size: 18px;
  line-height: 24px;
}

.list-promoServices {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-promoServices {
  width: 300px;
}

.item-promoServices-green {
   background-color: #8ed78f;
}

.item-promoServices-yellow {
  background-color: #ffc047;
}

.popularGoods {
  margin-bottom: 21px;
}

.header-popularGoods {
  margin-bottom: 20px;
}

.popularManufacturers {
  margin-bottom: 85px;
}

.header-popularGoods,
.header-popularManufacturers {
  background-color: #f9f5f0;
}

.header-popularGoods .sectionHeaders,
.header-popularManufacturers .sectionHeaders,
.productCatalog .sectionHeaders {
  color: #32425c;
}

.header-popularManufacturers {
  margin-bottom: 20px;
}

.list-Manufacturers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item-Manufacturers {
  width: 220px;
}

.link-Manufacturers {
  display: block;
  box-sizing: border-box;

  width: inherit;

  text-align: center;

  border: 1px solid #e5e5e5;

}

.link-Manufacturers:hover,
.link-Manufacturers:focus {
  border: none;
}

.link-Manufacturers:active {
  opacity: 0.3;
  border: none;
}

.services {
  margin-bottom: 80px;

  background-color: #f4f8f9;
}

.slider-services {
  display: flex;
  justify-content: space-between;
}

.list-services-control {
  margin: 0;
  padding: 0;
  width: 240px;

  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

  list-style: none;
}

.item-services-control {
  color: #ffffff;

  background-color: #32425c;
}

.item-services-control:hover,
.item-services-control:focus {
  background-color: #293449;
}

.radio-services:checked + label {
  color: #32425c;

  background-color: #ffffff;
}

.list-services-slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-services-slider {
  width: 620px;
}

.list-services-slider h3{
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.wrap-columns {
  display: flex;
  justify-content: space-between;
}

.advantages {
  width: 540px;
}

.list-advantages {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  width: 300px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
}

.productCatalog {
  margin-bottom: 60px;

  text-transform: uppercase;
}

.productCatalog-wrapTitle {
  margin-bottom: 20px;

  background-color: #f2f6f8;
}

.wrap-catalogWithFilter {
  display: flex;
  justify-content: space-between;

  margin-bottom: 52px;
}

.wrap-filter {
  width: 220px;
}

.filter-title {
  line-height: 18px;

  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.field-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.priceInput {
  background-color: #f7f3ec;

  border: none;
}

.filter-input + label {
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.list-pagination {
  list-style: none;
}

.btn-filter,
.btn-pagination {
  font-family: 'PT Sans', sans-serif;;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: inherit;

  border: 1px solid #e5e5e5;
}

.btn-filter:hover,
.btn-filter:focus,
.btn-pagination:hover:not(.btn-pagination-current),
.btn-pagination:focus:not(.btn-pagination-current) {
  border: 1px solid #bdc6ca;
}

.btn-pagination:active:not(.btn-pagination-current) {
  border: 1px solid #ee3643;
}

.btn-pagination-current {
  background-color: #ee3643;

  border: 1px solid #ee3643;
}

.wrap-sortingWithCatalog {
  width: 700px;
}

.sorting {
  margin-bottom: 20px;

  line-height: 18px;

  background-color: #f7f3ec;
}

.productCatalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.productCatalog-item {
  box-sizing: border-box;

  width: 220px;

  border: 1px solid #e5e5e5;
}

.sorting-input + label {
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
}

.sorting-input:hover + label,
.sorting-input:focus + label {
  text-decoration: dotted underline red;
}

.sorting-input:checked + label {
  color: #ee3643;
  text-decoration: none;
}

.productCatalog-item:hover,
.productCatalog-item:focus {
  border: none;
}

.productTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.productCatalog-item-oldPrice {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}

.productCatalog-item-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
}

.cardNavigation {
  display: none;
}

.productCatalog-item:hover .cardNavigation,
.productCatalog-item:focus .cardNavigation{
  display: block;
}

.aboutProduct {
  background-color: #f2f6f8;
}

/*- modal window -*/
.modal-writeUs {
  display: none;
}

.modal-map {
  display: none;
}

.modal-inBasket {
  display: none;
}

/* Other */
.pageIndex .loginInterface,
.pageCatalog .interfaceInside {
  display: block;
}

.pageCatalog .loginInterface,
.pageIndex .interfaceInside {
  display: none;
}

.pageCatalog .basket-full {
  background-color: #ee3643;
}

.pageCatalog .basket-full:hover,
.pageCatalog .basket-full:focus {
  background-color: #ca2c37;
}

.pageCatalog .basket-full:active {
  background-color: #ba2732;
}
/* 
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
/*	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
} 
*/